.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.auth-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.auth-container h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.auth-form .form-group label {
    font-weight: 500;
}

.auth-form .btn {
    width: 100%;
    margin-top: 1rem;
}

.auth-container .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.auth-links {
    text-align: center;
    margin-top: 1rem;
}

.edit-page {
    background: #f8f9fa;
}

.edit-form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.edit-form .form-group {
    margin-bottom: 1rem;
}

.edit-form .form-group label {
    font-weight: 500;
}

.edit-form .btn {
    width: 100%;
    margin-top: 1rem;
}

.add-page {
   background: #f8f9fa;
} 

.add-form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.add-form .form-group {
    margin-bottom: 1rem;
}

.add-form .form-group label {
    font-weight: 500;
}

.add-form .btn {
    width: 100%;
    margin-top: 1rem;
}

.navbar {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 20px;
    background: linear-gradient(90deg,rgb(144, 148, 215),rgb(43, 48, 156));
}

.navbar-brand {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    color: white;
}

.d-grid {
    text-align: center;
}

